@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
	--background-color: #fff;
	--base-text-size: 16px;
	--border-color: #e7edf6;
	--default-text-color: #000;
	--desturctive-color: #ee4444;
	--input-bg: var(--secondary-color);
	--input-border: var(--border-color);
	--input-placeholder: var(--muted-color);
	--input-text: var(--text-color);
	--large-text-size: 1.25rem;
	--muted-color: #64748b;
	--primary-color: #00b894;
	--primary-hover-color: #019175;
	--secondary-color: #f0f2f5;
	--secondary-hover-color: #c5c5c5;
	--small-text-size: 0.875rem;
	--xlarge-text-size: 1.5rem;
}

* {
	border: 0;
	box-sizing: border-box;
	font-family: "Inter", serif;
	font-size: var(--base-text-size);
	margin: 0;
	outline: none;
	padding: 0;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

body {
	background-color: var(--background-color);
}

.artists-container {
	width: 100%;
	padding: 20px;
}

.artists-title {
	font-size: 28px;
	margin-bottom: 20px;
}

.artists-title span {
	color: var(--muted-color);
	margin-left: 5px;
	font-size: 20px;
}

.artist-tile-image {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 16px;
	margin-bottom: 15px;
}

.artists-row {
	flex-wrap: wrap;
	gap: 20px;
}

.artist-tile-container {
	padding: 20px;
	border-radius: 14px;
	background-color: var(--input-bg);
	height: 100%;
}

.artist-tile-name {
	font-size: 16px;
	margin-bottom: 15px;
}

.artist-tile-trending {
	text-transform: uppercase;
	color: var(--muted-color);
	font-size: 12px;
	font-weight: bold;
}

.artist-tile-song {
	margin: 3px 0;
	color: var(--primary-color);
	cursor: pointer;
}

.artist-name {
	font-size: 0.9rem;
	color: #666;
	margin: 0;
}


.auth-container {
	gap: 5px;
	height: 100vh;
	width: 100%;
}

.auth-panel {
	gap: 12px;
	margin: 30px 0;
	text-align: center;
	max-width: 450px;
	width: 90%;
}

.avatar {
	background-color: var(--muted-color);
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.bg-primary {
	background-color: var(--primary-color);
}

.bg-primary-50 {
	background-color: #00b89381;
}

.border-right-muted {
	border-right-color: var(--muted-color);
	border-right-style: solid;
	border-right-width: 2.5px;
}

.btn {
	border-radius: 6px;
	cursor: pointer;
	font-size: var(--small-text-size);
	font-weight: 600;
	padding: 10px 16px;
	transition: background-color 0.2s ease;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.btn-ghost {
	background-color: transparent;
	color: var(--default-text-color);
}

.btn-ghost:hover {
	background-color: var(--secondary-hover-color);
}

.btn-outline {
	background-color: transparent;
	border: 1.5px solid var(--default-text-color);
	color: var(--default-text-color);
}

.btn-outline:hover {
	background-color: var(--secondary-hover-color);
	border: 1.5px solid var(--default-text-color);
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

.btn-primary:hover {
	background-color: var(--primary-hover-color);
}

.btn-secondary {
	background-color: var(--secondary-color);
}

.btn-secondary:hover {
	background-color: var(--secondary-hover-color);
}

.btn-destructive {
	color: var(--desturctive-color);
}

.btn-destructive:hover {
	background-color: var(--secondary-hover-color);
}

.col {
	display: flex;
	flex-direction: column;
}

/* Comments section */
.comment {
	background-color: var(--secondary-color);
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	padding: 10px;
}

.comment:hover {
	background-color: var(--secondary-hover-color);
}

.comment-author {
	color: var(--default-text-color);
	font-size: var(--small-text-size);
	font-weight: bold;
}

.comment-author-box {
	gap: 5px;
}

.comment-box {
	flex: 1;
	gap: 5px;
}

.comment-container {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
	border-radius: 10px;
	cursor: pointer;
	gap: 10px;
	padding: 15px;
	color: inherit;
}

.comment-delete {
	border: 1px solid var(--desturctive-color);
	border-radius: 8px;
	color: var(--desturctive-color);
	cursor: pointer;
	font-size: 11px;
	margin-left: 10px;
	padding: 3px 10px;
}

.comment-form {
	gap: 10px;
}

.comment-icon {
	color: var(--muted-color) !important;
}

.comment-like {
	gap: 3px;
}

.comment-like-caption {
	color: var(--muted-color);
	font-size: 12px;
}

.comment-section {
	flex-grow: 1;
	overflow-y: auto;
}

.comment-section-title {
	color: var(--default-text-color);
	font-size: var(--large-text-size);
	font-weight: bold;
	margin-bottom: 12px;
}

.comment-text {
	color: var(--muted-color);
	font-size: var(--small-text-size);
}

.comments {
	flex: 1;
	gap: 15px;
	max-height: 100%;
	overflow: auto;
}

.cover-placeholder {
	background-color: var(--input-bg);
	border-radius: 16px;
	height: 192px;
	width: 192px;
}

.debug {
	border-style: solid;
}

.div-line {
	margin-left: 20px;
	margin-right: 20px;
	border-top-color: var(--muted-color);
	border-top-style: solid;
	border-top-width: 2.5px;
}

.disable-text-decoration {
	text-decoration: none;
}

.dislike-icon {
	color: var(--desturctive-color) !important;
	cursor: pointer;
}

.flex-1 {
	flex: 1;
}

.flex-85 {
	flex: 0.85;
}

.flex-parent {
	display: flex;
	height: 100%;
}

.font-bold {
	font-weight: bold;
}

.gap-2 {
	gap: 0.5rem;
}

.height-textbox {
	height: 5rem;
}

.height-95 {
	height: 95vh;
}

.hidden {
	display: none;
}

.img-64x64 {
	border-radius: 8px;
	height: 128px;
	width: 128px;
	object-fit: cover;
}

.input {
	background-color: var(--input-bg);
	border: 2px solid var(--input-border);
	border-radius: 6px;
	color: var(--input-text);
	font-size: var(--small-text-size);
	padding: 10px 16px;
	width: 100%;
}

.input:disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.input:focus {
	outline: none;
}

.input::placeholder {
	color: var(--input-placeholder);
}

.items-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.like {
	align-items: center;
	display: flex;
	gap: 10px;
}

.like-btn {
	background-color: var(--primary-color);
	border-radius: 4px;
	color: white;
	font-size: var(--small-text-size);
	padding: 8px 12px;
}

.like-btn:hover {
	background-color: var(--primary-hover-color);
}

.like-count {
	color: var(--muted-color);
	font-size: var(--small-text-size);
	margin-left: 8px;
}

.like-icon {
	color: var(--muted-color) !important;
	cursor: pointer;
}

.lineno {
	flex: 0 0 25px;
}

.loader {
	animation: rotation 1s linear infinite;
	border: 10px solid var(--secondary-hover-color);
	border-bottom-color: var(--primary-color);
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.loader-small {
	animation: rotation 1s linear infinite;
	border: 10px solid var(--secondary-hover-color);
	border-bottom-color: var(--primary-color);
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	height: 35px;
	width: 35px;
	margin-left: 80%;
	margin-top: -7%;
}

.logo-music {
	color: var(--primary-color);
	font-size: 1.5rem;

}

.logo-book {
	color: black;
	font-size: 1.5rem;

}

.lyrics-box {
	border: 1px solid var(--border-color);
	line-height: 1.5;
	margin: auto;
	max-height: 300px;
	overflow-y: auto;
	padding: 12px;
	width: 70%;
}

.lyrics-box::-webkit-scrollbar {
	width: 8px;
}

.lyrics-box::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 4px;
}

.lyrics-box::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary-hover-color);
}

.lyrics-container {
	max-height: 100%;
	overflow-y: auto;
	padding: 20px;
	flex: 1;
}

.main-content {
	flex: 0.8;
	height: 100%;
	margin-left: 5%;
}

.mb-2 {
	margin-bottom: 0.5rem;

}

.mb-4 {
	margin-bottom: 1rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
	padding-left: 20px;
}

.mtlr-auto {
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
}

/* Stil för navigeringslänkar */
.nav-link {
	list-style: auto;
	background: none;
	border: none;
	cursor: pointer;
	text-align: left;
	color: black;
	display: inline-flex;
	align-items: center;
	/* Centrerar text och ikon vertikalt */
	gap: 0.65rem;
	/* Lägger till avstånd mellan ikon och text */
	text-decoration: none;
	position: relative;
	transition: color 0.2s ease;
}

/* Skapar en linje under texten vid hover */
.nav-link::after {
	content: "";
	/* Tomt innehåll för pseudo-elementet */
	display: block;
	/* Gör att det fungerar som en linje */
	height: 2px;
	/* Höjden på linjen */
	background-color: var(--primary-color);
	width: 0;
	/* Startar utan bredd */
	transition: width 0.9s ease;
	/* Smidig övergång */
	position: absolute;
	bottom: -2px;
	/* Precis under texten */
	left: 0;
	/* Börjar vid textens vänsterkant */
}

.nav-link:hover::after,
.nav-link:focus::after {
	width: 100%;
	/* Sträcker sig lika långt som texten och ikonen */
}

/* Understrykning vid hover */
.nav-link:hover {
	border-bottom: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.nav-list {
	list-style: none;
	padding-right: 20px;
	margin: 0;
	width: 100%;
}

.nav-list li {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	/* Avstånd mellan ikon och text */
}

.no-results {
	color: var(--muted-color);
	font-size: var(--xlarge-text-size);
	margin-top: 16px;
	text-align: center;
}

.padding-10px {
	padding: 10px;
}

.padding-20px {
	padding: 20px;
}

.padding-10px-tlr {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.personal {
	display: flex;
	flex-direction: column;
	/* Arrangerar text och knapp vertikalt */
	align-items: center;
	/* Justerar allt till vänster */
	gap: 0.5rem;
	/* Lägger till avstånd mellan texten och knappen */
}

.personal-welcome {
	margin: 0;
	font-size: var(--small-text-size);
	color: var(--muted-color);
	white-space: nowrap;
	/* Förhindrar att texten bryts till en ny rad */
}


/* Popup overlay */
.popup-overlay {
	align-items: center;
	background-color: rgba(120, 120, 120, 0.5);
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* Popup window */
.popup-window {
	background: white;
	border-radius: 8px;
	height: 50%;
	padding: 20px;
	position: relative;
	transform: translateX(15%);
	width: 50%;
}

/* Close button */
.close-button {
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	left: 10px;
	position: absolute;
	top: 10px;
}

/* Post container */
.post-container {
	background-color: var(--background-color);
	border: 1.5px solid var(--border-color);
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin: 20px auto;
	padding: 16px;
	width: 90%;
	max-width: 650px;
}

.post-container:hover {
	transform: translateY(-2px);
	transition: transform 0.2s ease;
}

.post-details {
	align-items: center;
	border-top: 1px solid var(--border-color);
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
	padding-top: 8px;
}

.post-header {
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	display: flex;
	margin-bottom: 12px;
	padding-bottom: 8px;
}
.post-lyrics-container{
	cursor: pointer;
}
.page {
	display: flex;
	flex-direction: row;
}

.row {
	display: flex;
	flex-direction: row;
}

.screen {
	height: 100vh;
	width: 100%;
}

/* Search results styling */
.search-content {
	gap: 10px;
	justify-content: center;
	padding: 10px;
	width: 75%;
}

.search-content input {
	height: 3rem;
}

.search-form {
	display: flex;
	justify-content: center;
}

.search-results {
	max-height: 100%;
	overflow-y: auto;
}

.search-results p {
	margin-bottom: 10px;
	text-align: center;
}

.see-more {
	height: 10%;
	margin-left: auto;
}

.sidebar {
	background-color: var(--secondary-color);
	height: 100vh;
	width: 20%;
	top: 0;
	position: sticky;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	align-items: flex-start;
	gap: 1rem;
	padding: 40px;
}

.sidebar-inner {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	padding: 10px;
}

.sidebar-mobile {
	width: 100vw;
	justify-content: space-between;
	border-bottom: 2px solid var(--border-color);
	align-items: center;
	padding: 20px;
}

.sidebar-container {
	background-color: var(--background-color);
	display: none;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.sidebar-container-mobile-open {
	height: 100vh;
}

.sidebar-mobile-content {
	padding: 20px;
	height: 100%;
	gap: 15px;
}

.sidebar-mobile-links a svg {
	color: var(--primary-color);
}

.sidebar-mobile-links a {
	padding: 8px;
	text-decoration: none;
	color: var(--default-text-color)
}

.sidebar-mobile-trending {
	flex: 1;
	gap: 5px;
}

.sidebar-mobile-trending-element {
	cursor: pointer;
	padding: 8px;
	border-radius: 8px;
}

.sidebar-mobile-trending-element:hover {
	background-color: var(--secondary-hover-color);
}

.sidebar-mobile-footer {
	gap: 10px;
	padding-bottom: 20px;
}

.sidebar-mobile-footer p {
	font-size: 15px;
	color: var(--muted-color);
}

.burger-icon {
	width: 30px;
	height: 6px;
	border-radius: 18px;
	background-color: var(--primary-color);
	margin: 2px 0;
}

.sidebar-mobile {
	width: 100vw;
	justify-content: space-between;
	border-bottom: 2px solid var(--border-color);
	align-items: center;
	padding: 20px;
}

.sidebar-container {
	background-color: var(--background-color);
	display: none;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}

.sidebar-container-mobile-open {
	height: 100vh;
}

.sidebar-mobile-content {
	padding: 20px;
	height: 100%;
	gap: 15px;
}

.sidebar-mobile-links a svg {
	color: var(--primary-color);
}

.sidebar-mobile-links a {
	padding: 8px;
	text-decoration: none;
	color: var(--default-text-color)
}

.sidebar-mobile-trending {
	flex: 1;
	gap: 5px;
}

.sidebar-mobile-trending-element {
	cursor: pointer;
	padding: 8px;
	border-radius: 8px;
}

.sidebar-mobile-trending-element:hover {
	background-color: var(--secondary-hover-color);
}

.sidebar-mobile-footer {
	gap: 10px;
}

.sidebar-mobile-footer p {
	font-size: 15px;
	color: var(--muted-color);
}

.burger-icon {
	width: 30px;
	height: 6px;
	border-radius: 18px;
	background-color: var(--primary-color);
	margin: 2px 0;
}

/* Song item container */
.song-item-container {
	align-items: flex-start;
	background-color: var(--secondary-color);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: auto;
	padding: 16px;
	transition: transform 0.2s ease, background-color 0.2s ease;
	width: 70%;
}

.song-item-container:hover {
	background-color: var(--primary-color);
	transform: translateY(-4px);
}

.song-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
  .song-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
  }

.max-height-100 {
	max-height: 100vh;
}

.max-width {
	width: 100%;
	margin: 0;
	display: block;
}

.text-align-center {
	text-align: center;
}

.text-destructive {
	color: var(--desturctive-color);
}

.text-left {
	text-align: left;
}

.text-lg {
	font-size: var(--large-text-size);
	margin-bottom: 25px;

}

.text-muted {
	color: var(--muted-color);
}

.text-default {
	color: var(--default-text-color);
}

.text-primary {
	color: var(--primary-color);
}

.text-secondary {
	color: var(--secondary-color);
}

.text-sm {
	font-size: var(--small-text-size);
}

.text-xl {
	font-size: var(--xlarge-text-size);
}


/* Gör knapparna klickbara och stiliga */
.trending-song button {
	list-style: auto;
	background: none;
	border: none;
	padding: 5px;
	cursor: pointer;
	font-size: var(--small-text-size);
	text-align: left;
	/* Justerar texten till vänster */
	color: black;
	/* Standardfärg är svart */
	display: inline-flex;
	position: relative;
	align-items: center;
	transition: color 0.2s ease;
}

.trending-song button::after {
	content: "";
	display: block;
	height: 2px;
	background-color: var(--primary-color);
	/* Färgen på linjen */
	width: 0;
	/* Startar utan bredd */
	transition: width 0.9s ease;
	/* Gör animationen långsammare */
	position: absolute;
	bottom: -2px;
	/* Placera linjen precis under texten */
	left: 0;
	/* Börja vid textens vänsterkant */
}

/* Vid hover expanderar linjen */
.trending-song button:hover::after,
.trending-song button:focus::after {
	width: 100%;
	/* Linjen fyller hela knappens bredd */
}

/* Understrykning vid hover */
.trending-song button:hover {
	border-bottom: 2px solid var(--primary-color);
	color: var(--primary-color);
}

.w-half {
	width: 50%;
}

.w-20 {
	width: 20px;
}

.width-100 {
	width: 100%;
}

textarea {
	resize: none;
}

@media only screen and (max-width: 600px) {

	.artist-tile-container {
		width: 100%;
	}

	.artist-tile-image {
		width: 100%;
		aspect-ratio: 1 / 1;
		height: auto;
	}

	.sidebar {
		display: none;
	}

	.sidebar-container {
		display: flex;
	}

	.page {
		flex-direction: column;
	}

	.max-height-100 {
		max-height: fit-content;
	}

	.lyrics-container-mobile {
		flex: auto;
		height: 500px;
	}
}

@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}

	.sidebar-container {
		display: flex;
	}

	.page {
		flex-direction: column;
	}

	.max-height-100 {
		max-height: fit-content;
	}

	.lyrics-container-mobile {
		flex: auto;
		height: 500px;
	}
}